# packages in environment at C:\Users\Maximus\.conda\envs\lets_drift_env_V1:
#
# Name                    Version                   Build  Channel
asttokens                 2.4.1              pyhd8ed1ab_0    conda-forge
blas                      1.0                         mkl    conda-forge
bokeh                     3.6.2                    pypi_0    pypi
brotli-python             1.1.0           py311hda3d55a_2    conda-forge
bzip2                     1.0.8                h2466b09_7    conda-forge
ca-certificates           2024.8.30            h56e8100_0    conda-forge
cccl                      2.3.2                h84bb9a4_1    conda-forge
certifi                   2024.8.30          pyhd8ed1ab_0    conda-forge
cffi                      1.17.1          py311he736701_0    conda-forge
charset-normalizer        3.4.0              pyhd8ed1ab_0    conda-forge
colorama                  0.4.6              pyhd8ed1ab_0    conda-forge
comm                      0.2.2              pyhd8ed1ab_0    conda-forge
cuda-cccl                 12.4.127             h57928b3_2    conda-forge
cuda-cccl_win-64          12.4.127             h57928b3_2    conda-forge
cuda-cudart               12.4.127             he0c23c2_2    conda-forge
cuda-cudart-dev           12.4.127             he0c23c2_2    conda-forge
cuda-cudart-dev_win-64    12.4.127             he0c23c2_2    conda-forge
cuda-cudart-static        12.4.127             he0c23c2_2    conda-forge
cuda-cudart-static_win-64 12.4.127             he0c23c2_2    conda-forge
cuda-cudart_win-64        12.4.127             he0c23c2_2    conda-forge
cuda-cupti                12.4.127             he0c23c2_2    conda-forge
cuda-libraries            12.4.1               h57928b3_1    conda-forge
cuda-libraries-dev        12.4.1               h57928b3_1    conda-forge
cuda-nvrtc                12.4.127             he0c23c2_2    conda-forge
cuda-nvrtc-dev            12.4.127             he0c23c2_2    conda-forge
cuda-nvtx                 12.4.127                      0    nvidia
cuda-opencl               12.4.127             he0c23c2_1    conda-forge
cuda-opencl-dev           12.4.127             he0c23c2_1    conda-forge
cuda-profiler-api         12.4.127             h57928b3_2    conda-forge
cuda-runtime              12.4.1               h7428d3b_0    conda-forge
cuda-version              12.4                 h3060b56_3    conda-forge
debugpy                   1.8.8           py311hda3d55a_0    conda-forge
decorator                 5.1.1              pyhd8ed1ab_0    conda-forge
exceptiongroup            1.2.2              pyhd8ed1ab_0    conda-forge
executing                 2.1.0              pyhd8ed1ab_0    conda-forge
filelock                  3.16.1             pyhd8ed1ab_0    conda-forge
freetype                  2.12.1               hdaf720e_2    conda-forge
h2                        4.1.0              pyhd8ed1ab_0    conda-forge
hpack                     4.0.0              pyh9f0ad1d_0    conda-forge
hyperframe                6.0.1              pyhd8ed1ab_0    conda-forge
idna                      3.10               pyhd8ed1ab_0    conda-forge
importlib-metadata        8.5.0              pyha770c72_0    conda-forge
intel-openmp              2025.0.0          h57928b3_1163    conda-forge
ipykernel                 6.29.5             pyh4bbf305_0    conda-forge
ipython                   8.29.0             pyh7428d3b_0    conda-forge
ipywidgets                8.1.5                    pypi_0    pypi
jaxtyping                 0.2.36                   pypi_0    pypi
jedi                      0.19.2             pyhff2d567_0    conda-forge
jinja2                    3.1.4              pyhd8ed1ab_0    conda-forge
jupyter-bokeh             4.0.5                    pypi_0    pypi
jupyter_client            8.6.3              pyhd8ed1ab_0    conda-forge
jupyter_core              5.7.2           py311h1ea47a8_0    conda-forge
jupyterlab-widgets        3.0.13                   pypi_0    pypi
khronos-opencl-icd-loader 2024.05.08           hc70643c_0    conda-forge
krb5                      1.21.3               hdf4eb48_0    conda-forge
lcms2                     2.16                 h67d730c_0    conda-forge
lerc                      4.0.0                h63175ca_0    conda-forge
libblas                   3.9.0           1_h8933c1f_netlib    conda-forge
libcblas                  3.9.0           8_h719fc58_netlib    conda-forge
libcublas                 12.4.5.8             he0c23c2_2    conda-forge
libcublas-dev             12.4.5.8             he0c23c2_2    conda-forge
libcufft                  11.2.1.3             he0c23c2_2    conda-forge
libcufft-dev              11.2.1.3             he0c23c2_2    conda-forge
libcurand                 10.3.5.147           he0c23c2_2    conda-forge
libcurand-dev             10.3.5.147           he0c23c2_2    conda-forge
libcusolver               11.6.1.9             he0c23c2_2    conda-forge
libcusolver-dev           11.6.1.9             he0c23c2_2    conda-forge
libcusparse               12.3.1.170           he0c23c2_2    conda-forge
libcusparse-dev           12.3.1.170           he0c23c2_2    conda-forge
libdeflate                1.22                 h2466b09_0    conda-forge
libexpat                  2.6.4                he0c23c2_0    conda-forge
libffi                    3.4.2                h8ffe710_5    conda-forge
libhwloc                  2.11.1          default_h8125262_1000    conda-forge
libiconv                  1.17                 hcfcfb64_2    conda-forge
libjpeg-turbo             3.0.0                hcfcfb64_1    conda-forge
liblapack                 3.9.0           8_h719fc58_netlib    conda-forge
libnpp                    12.2.5.30            he0c23c2_2    conda-forge
libnpp-dev                12.2.5.30            he0c23c2_2    conda-forge
libnvfatbin               12.4.127             he0c23c2_2    conda-forge
libnvfatbin-dev           12.4.127             he0c23c2_2    conda-forge
libnvjitlink              12.4.127             he0c23c2_2    conda-forge
libnvjitlink-dev          12.4.127             he0c23c2_2    conda-forge
libnvjpeg                 12.3.1.117           he0c23c2_2    conda-forge
libnvjpeg-dev             12.3.1.117           h57928b3_2    conda-forge
libpng                    1.6.44               h3ca93ac_0    conda-forge
libsodium                 1.0.20               hc70643c_0    conda-forge
libsqlite                 3.47.0               h2466b09_1    conda-forge
libtiff                   4.7.0                hfc51747_1    conda-forge
libuv                     1.49.2               h2466b09_0    conda-forge
libwebp                   1.4.0                h2466b09_0    conda-forge
libwebp-base              1.4.0                hcfcfb64_0    conda-forge
libxcb                    1.16                 h013a479_1    conda-forge
libxml2                   2.13.4               h442d1da_2    conda-forge
libzlib                   1.3.1                h2466b09_2    conda-forge
linkify-it-py             2.0.3                    pypi_0    pypi
m2w64-gcc-libgfortran     5.3.0                         6    conda-forge
m2w64-gcc-libs            5.3.0                         7    conda-forge
m2w64-gcc-libs-core       5.3.0                         7    conda-forge
m2w64-gmp                 6.1.0                         2    conda-forge
m2w64-libwinpthread-git   5.0.0.4634.697f757               2    conda-forge
markupsafe                3.0.2           py311h5082efb_0    conda-forge
matplotlib-inline         0.1.7              pyhd8ed1ab_0    conda-forge
mdit-py-plugins           0.4.2                    pypi_0    pypi
mkl                       2023.1.0         h6a75c08_48682    conda-forge
mpmath                    1.3.0              pyhd8ed1ab_0    conda-forge
msys2-conda-epoch         20160418                      1    conda-forge
nest-asyncio              1.6.0              pyhd8ed1ab_0    conda-forge
networkx                  3.4.2              pyhd8ed1ab_1    conda-forge
numpy                     2.1.3           py311h35ffc71_0    conda-forge
openjpeg                  2.5.2                h3d672ee_0    conda-forge
openssl                   3.3.2                h2466b09_0    conda-forge
packaging                 24.1               pyhd8ed1ab_0    conda-forge
panel                     1.5.5                    pypi_0    pypi
param                     2.2.0                    pypi_0    pypi
parso                     0.8.4              pyhd8ed1ab_0    conda-forge
pickleshare               0.7.5                   py_1003    conda-forge
pillow                    10.4.0          py311h5592be9_1    conda-forge
pip                       24.3.1             pyh8b19718_0    conda-forge
platformdirs              4.3.6              pyhd8ed1ab_0    conda-forge
prompt-toolkit            3.0.48             pyha770c72_0    conda-forge
psutil                    6.1.0           py311he736701_0    conda-forge
pthread-stubs             0.4               hcd874cb_1001    conda-forge
pthreads-win32            2.9.1                h2466b09_4    conda-forge
pure_eval                 0.2.3              pyhd8ed1ab_0    conda-forge
pycparser                 2.22               pyhd8ed1ab_0    conda-forge
pygments                  2.18.0             pyhd8ed1ab_0    conda-forge
pysocks                   1.7.1              pyh0701188_6    conda-forge
python                    3.11.10         hce54a09_3_cpython    conda-forge
python-dateutil           2.9.0              pyhd8ed1ab_0    conda-forge
python_abi                3.11                    5_cp311    conda-forge
pytorch                   2.5.1           py3.11_cuda12.4_cudnn9_0    pytorch
pytorch-cuda              12.4                 h3fd98bf_7    pytorch
pytorch-mutex             1.0                        cuda    pytorch
pyviz-comms               3.0.3                    pypi_0    pypi
pywin32                   307             py311hda3d55a_3    conda-forge
pyyaml                    6.0.2           py311he736701_1    conda-forge
pyzmq                     26.2.0          py311h484c95c_3    conda-forge
requests                  2.32.3             pyhd8ed1ab_0    conda-forge
sae-lens                  5.2.0                    pypi_0    pypi
seaborn                   0.13.2                   pypi_0    pypi
setuptools                75.3.0             pyhd8ed1ab_0    conda-forge
six                       1.16.0             pyh6c4a22f_0    conda-forge
stack_data                0.6.2              pyhd8ed1ab_0    conda-forge
sympy                     1.13.3             pyh04b8f61_4    conda-forge
tbb                       2021.13.0            hc790b64_0    conda-forge
tk                        8.6.13               h5226925_1    conda-forge
torchaudio                2.5.1                    pypi_0    pypi
torchvision               0.20.1                   pypi_0    pypi
tornado                   6.4.1           py311he736701_1    conda-forge
traitlets                 5.14.3             pyhd8ed1ab_0    conda-forge
transformer-lens          2.9.1                    pypi_0    pypi
typeguard                 4.4.1                    pypi_0    pypi
typing_extensions         4.12.2             pyha770c72_0    conda-forge
tzdata                    2024b                hc8b5060_0    conda-forge
uc-micro-py               1.0.3                    pypi_0    pypi
ucrt                      10.0.22621.0         h57928b3_1    conda-forge
urllib3                   2.2.3              pyhd8ed1ab_0    conda-forge
vc                        14.3                ha32ba9b_22    conda-forge
vc14_runtime              14.40.33810         hcc2c482_22    conda-forge
vs2015_runtime            14.40.33810         h3bf8584_22    conda-forge
wcwidth                   0.2.13             pyhd8ed1ab_0    conda-forge
wheel                     0.45.0             pyhd8ed1ab_0    conda-forge
widgetsnbextension        4.0.13                   pypi_0    pypi
win_inet_pton             1.1.0              pyh7428d3b_7    conda-forge
xorg-libxau               1.0.11               hcd874cb_0    conda-forge
xorg-libxdmcp             1.1.3                hcd874cb_0    conda-forge
xyzservices               2024.9.0                 pypi_0    pypi
xz                        5.2.6                h8d14728_0    conda-forge
yaml                      0.2.5                h8ffe710_2    conda-forge
zeromq                    4.3.5                ha9f60a1_6    conda-forge
zipp                      3.21.0             pyhd8ed1ab_0    conda-forge
zstandard                 0.23.0          py311h53056dc_1    conda-forge
zstd                      1.5.6                h0ea2cb4_0    conda-forge
